#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-button {
    padding: 0;
    background-color: transparent;
}

#user-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.toggle-button {
    background-color: #fff;
    color: #29A19C;
    box-shadow: 10px 0px 25px rgba(29, 52, 54, 0.116);
    transform: rotate(90deg);
    padding: 0;
    width: 24px;
    height: 24px;
}