.column-card {
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-box button {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    opacity: .4;
    letter-spacing: 2px;
    font-size: 20px;
}

.title-box p {
    margin: 0;
    color: #29A19C;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
}