.item{
    width: 10000px;
    height: 66vh;
    position: relative;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.title{
    position: absolute;
    left: 100px;
    bottom: 50px;
}

.video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.wrap{
    width: 100%;
    overflow: hidden;
    height: 100%;
    opacity: 0;
    transition: all 1s ease;
}

.active{
    opacity: 1;
}