.slider{
    overflow-x: scroll;
    display: flex;
    margin-top: 10px;
    position: relative;
}

.Nextbtn{
    position: absolute;
    top: 45%;
    right: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(214, 214, 214);
    transition: all 0.3s ease;
}

.prevbtn{
    position: absolute;
    transition: all 0.3s ease;
    top: 45%;
    left: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(214, 214, 214);
}

.icon{
    width: 50px;
    height: 50px;
}

.prevbtn:hover{
    scale: 1.05;
}

.Nextbtn:hover{
    scale: 1.05;
}