.navItem{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: bold;
    color: white;
    opacity: .6;
    transition: opacity 0.3s;
}

.navItem:hover{
    opacity: 1;
}



.active{
    border-bottom: 2px solid blue;
}