.date-time-content-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.date-time-content-box p {
    margin: 0;
}

.date-time-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.date-time-content h2 {
    margin: 0;
}